html {
    margin: 0 auto;
    width: 100%;
}
    
main {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; Times New Roman */
  font-family: "Tiempos Text", Georgia, serif;
  font-size: 16px;
  color: #000000;
  font-weight: 300;
  font-style: normal;
  background-color: #ffffff;
  margin: 20px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}

h1 {
    text-align: center;
}

.intro {
    text-align: center;
}

#poster {
    width: 700px;
    
}

#lede {
    font-family: arial;
    font-size: 14px;
}

#byline {
    font-family: arial;
    font-size: 12px;
    font-style: italic;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  position: static;
  padding:3px;
    }

circle:hover {
    opacity: .7;
}

.deaths-prison-headline {
    font-size: 14px;
}

.spacer {
    height: 80px;
}

.box {
    border: solid;
    border-color: black;
    border-width: 2px;
    padding:10px;
    width: 500px;
    margin-left: 350px;
}