h1 {
    font-family: "Tiempos Headline", "Georgia Adjusted", Georgia, serif;
}

h2 {
    font-family: "Proxima Nova", sans-serif;
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

body {
    font-family: "Tiempos Text", "Georgia Adjusted", Georgia, serif;
    color: black;

}

footer {
  font-size: 8px;
  color: black;
        }

        .bar {
            fill: steelblue;
        }

        .bar:hover {
            fill: orange;
        }

        .tooltip {
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 5px;
            border-radius: 5px;
            pointer-events: none;
        }
