h1 {
    font-family: "Tiempos Headline", "Georgia Adjusted", Georgia, serif;
}

h2 {
    font-family: "Proxima Nova", sans-serif;
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

body {
    font-family: "Tiempos Text", "Georgia Adjusted", Georgia, serif;
    color: black;

}


        .bar {
            fill: #FF5733;
        }

        .bar:hover {
            fill: #EA4D2B;
            opacity: 0.7;
        }

        .axis-label {
            font-size: 12px;
        }

footer {
  font-size: 8px;
  color: black;
        }
